.div1{
	background-color: seagreen;
	height: 450px;
	width: 850px;
	float: left;
	margin-right: 160px;
	margin-left: 20px;
	text-align: left;
}
.div2{
	background-color: greenyellow;
	height: 450px;
	width: 850px;
	float: left;
}